body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#be87a6;
    background-color: azure;
    height: auto;
}
*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#b17ea9;
}
.container {
    width: 100%;
    max-width: 90%;
    margin: 0 0 0 50px;
    margin-right: 0;
    
}
.intro{
    width: 100%;
    height: 100vh;
    background-image: url(1.jpg);
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.intro_tittle{
   font-size: 70px;
   text-align: center;
   color: #3f51b5;
}
.intro_suptittle{
    font-size: 60px;
    text-align: center;
    line-height: 0.7;
    color: #871cbe;
    margin-bottom: 20px;
}
.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}
.header_inner{
    display: flex;
    justify-content: space-between;
}
.header_logo{
    color:peachpuff;
    font-size: 30px;
    font-weight: 700;
}
.nav{
    text-align: right;
    text-transform: uppercase;
    font-size:28px;
}
a{
  transition: color .2s linear;
    vertical-align: top;
    margin: 0 20px;
    text-underline-position: auto;
}
a:hover{
    color:#535fae;
}
.photo{
    width: 100%;
    height: 100%;
    position:relative;
    background-color: #253b6d;
    display: inline-block;
    overflow:hidden;
    float: left;
}
img{
    height: 54vh; 
    width: 33.33333%;
    float: left;
}
img:hover{
    transform: scale(1.3);
    border: 3px dotted aqua;
}
.favorite:hover{
    border: 4px dotted red;
    transform: scale(2);
}
